:root {
    --font-pri: 'Roboto', serif;
    --font-sec: '', serif;
    --font-third: '', serif;
    --size-hd: 6.8rem;
    --size-sub-hd: 4rem;
    --w-logo: 11rem;
    --ss-pd: 3rem;
    --spc-it-nm: 1rem;
    @media (max-width:1200px) {
        --size-hd: 12rem;
    }
}

// color
$color-pri: #c01111;
$color-second: #fbd947;
$color-third: #cccccc;
$color-text: #000000;
$color-text-second: #666666;
$black: #000000;
$white: #ffffff;
$orange: #e85933;
$border: #e1e1e1;

