:root {
    --font-pri: 'Roboto', serif;
    --font-sec: '', serif;
    --font-third: '', serif;
    --size-hd-top: 6.8rem;
    --size-hd-bot: 4rem;
    --size-hd: calc((var(--size-hd-top)) + (var(--size-hd-bot)));
    --w-logo: 11rem;
    --ss-pd: 3rem;
}

// color
$color-pri: #c01111;
$color-second: #fbd947;
$color-third: #cccccc;
$color-text: #000000;
$color-text-second: #666666;
$black: #000000;
$white: #ffffff;

